@tailwind base;
@tailwind components;
@tailwind utilities;

html {
	scroll-behavior: smooth;
}

.button-bg {
	background-image: linear-gradient(
		122deg,
		rgb(250, 85, 85) 0.01%,
		rgb(244, 171, 75) 49.9%,
		rgb(250, 85, 85) 100%
	);
	background-size: 150% 100%;
}

.button-bg:hover {
	background-image: linear-gradient(
		122deg,
		rgb(250, 85, 85) 0.01%,
		rgb(244, 171, 75) 49.9%,
		rgb(255, 237, 77) 100%
	);
	background-position: 50%;
}

.bg-backdrop {
	position: relative;
	display: block;
	font-size: 2rem;
	font-weight: bold;
	color: white;
	height: 400px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.bg-backdrop span {
	display: inline-block;
	position: relative;
	z-index: 2;
	text-shadow: 0 0 0.5rem rgba(0, 0, 0, 0.5);
}

.bg-backdrop:before {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background: rgba(0, 0, 0, 0);
	backdrop-filter: blur(0px);
	transition: 100ms backdrop-filter linear;
}
.bg-backdrop:hover:before {
	background: rgba(236, 121, 121, 0.1);
	backdrop-filter: blur(5px);
}

.bg-backdrop:hover span {
	transform: scale(1.015);
	text-shadow: 0 0 0.5rem rgba(236, 121, 121, 0.8);
}

.bg-clothing-collection {
	background-image: url(/clothing-collection.webp);
}

.bg-outdoors-collection {
	background-image: url(/outdoors-collection.webp);
}
